[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggpointdensity"]
	path = ggpointdensity
	url = https://github.com/lkremer/ggpointdensity
